.radio {
    
    &__wrapper {
        height: 20px;
        width: 40px;
        background-color: white;
        border-radius: 99px;
        box-shadow: inset 5px 5px 5px lightgray;
        box-sizing: border-box;
        cursor: pointer;
        display: flex;
    }

    &__label {
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        color: white;
        position: relative;
        bottom: 40px;
        user-select: none;
    }

    &_active {
        position: relative;
        top: 0;
        left: 0;
        height: 100%;
        width: 20px;
        border-radius: 99px;
        transition: all 0.2s ease;
        z-index: 0;
        

        &--left {
            left: 0;
            background-color: #b1b1b1;
        }

        &--right {
            left: 20px;
            background-color: #ff8049;
        }
    }
}
