.position {
    width: 100%;
    padding: 10px 0;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr;
    column-gap: 40px; 
    align-items: center;
    border-bottom: 1px solid;
    border-color: rgba(0, 0, 0, 0.4);
    cursor: pointer;
    transition: background-color 0.1s;

    &__logo {
        width: 76px;
        height: 76px;
        border-radius: 99px;
    }

    &__name-group {
        display: flex;
        align-items: center;
        width: 100%;
        
        img {
            margin-right: 20px;
        }
    }

    &__name {
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__isin {
        color: rgba(0, 0, 0, 0.5);
    }

    &__profit {
        color: green;
    }

    &__quantity {
        color: rgba(0, 0, 0, 0.5);
    }
}

.position:hover {
    background-color: rgb(247, 247, 247);
}