.catalog {
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    height: 100%;
    margin: 10px 0 10px 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    &__filters {
        display: grid;
        column-gap: 40px;
        grid-template-columns: 6fr 4fr 2fr;
    }

    &__header {
        display: grid;
        column-gap: 40px;
        grid-template-columns: 1fr 3fr 2fr 2fr 2fr 2fr;
        margin: 10px 0;

        :first-child {
            width: 76px;
        }

        h3 {
            color: rgba(0, 0, 0, 0.5);
        }
    }

    &__items {
        height: 100%;
        overflow-y: scroll;
    }

    h3 {
        font-weight: 600;
    }

    &__pagination {

    }
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
    border-radius: 4px;
    background-color: #e8e3e1;
    height: 40px;
    border-radius: 99px;
    margin-top: 10px;

    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        margin: 0 2px;
        color: #333;
        cursor: pointer;
        border: 1px solid none;
        background-color: transparent;
        transition: background-color 0.3s ease;
        border-radius: 99px;
        font-size: 12px;

        &-prev {
            margin-right: auto;
            margin-left: 10px;
        }

        &-next {
            margin-left: auto;
            margin-right: 10px;
        }

        &-link {
            width: 100%;
            height: 100%;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &:hover,
        &:focus {
            background-color: white;
            box-shadow: 5px 5px 5px lightgray;
        }

        &__active {
            background-color: #ff8049;
            color: white;
            pointer-events: none;
        }

        &__disabled {
            color: #858585;
            border-color: #858585;
            cursor: not-allowed;
            pointer-events: none;
        }
    }

    &__ellipsis {
        margin: 0 8px;
        color: #ccc;
        cursor: pointer;
    }
}
